p{
    background-color: #ffcdd2; 
    border: 2px solid brown;
    margin: 5% 10% 10% 10%;
    padding: 3%;
}
body{
    background-color: rgb(250, 237, 216);
    width: 90%;
    margin: 5%;
   
}